body {
    background-color: #000;
    color: #fff;
  
    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  
    /* disable touch panning/zooming */
    -ms-touch-action: none;
    touch-action: none;
  
    /* Allow canvas to hit the edges of the browser viewport. */
    margin: 0;
}

#screen canvas {
  margin: auto;
  /* Hide the gap for font descenders. */
  display: block;
}

#screen.cursor-poke canvas {
  cursor: url('data/poke.png'), auto;
}

#screen.cursor-walk canvas {
  cursor: url('data/walk.png'), auto;
}

#screen.cursor-talk canvas {
  cursor: url('data/talk.png'), auto;
}

#screen.cursor-coffee-cup canvas {
  cursor: url('data/inventory/coffee-cup.png'), auto;
}

#screen.cursor-construction-paper canvas {
  cursor: url('data/inventory/construction-paper.png'), auto;
}

#screen.cursor-fork canvas {
  cursor: url('data/inventory/fork.png'), auto;
}

#screen.cursor-chopsticks canvas {
  cursor: url('data/inventory/chopsticks.png'), auto;
}

#screen.cursor-wd40 canvas {
  cursor: url('data/inventory/wd40.png'), auto;
}

#screen.cursor-wallet canvas {
  cursor: url('data/inventory/wallet.png'), auto;
}

#screen.cursor-coffee-filter canvas {
  cursor: url('data/inventory/coffee-filter.png'), auto;
}
